* {
    margin: 0;
    padding: 0;
}               


header{
    background-color:rgb(248, 33, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    
}

body{
    color: rgb(94, 6, 0); 
    background-color: black;
    
}

#texto{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{ 
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(221, 221, 221);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo{
    width: 50ex;
}

ul{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    list-style: none;
}

#container{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.texto{
    color: rgb(90, 6, 6);
    font-family: ;
}

#logo2{
    width: 450px;
}
